.recepieContainer {
    width: 960px;
    margin: 0 auto;
}

.RecepieHeader {
    display: flex;
    justify-content: space-between;
}

.RecepieBody {
    display: flex;
    justify-content: space-evenly;
}
